@charset "utf-8";
/* CSS Document for be_tools */

@media (min-width: 992px) {
	.rex-is-logged-in nav.rex-nav-main { overflow: hidden; width: 55px; }
	.rex-nav-main-title { opacity: 0; -webkit-user-select: none; user-select: none; pointer-events: none; }
		.rex-nav-main-title:first-child { border: none; height: 0px; overflow: hidden; margin-bottom: 0px; padding-top: 15px; }
		.rex-nav-main-list+.rex-nav-main-title { border: none; padding-top: 10px; }
	.rex-nav-main-list { border-bottom: 1px solid rgba(156, 165, 178, 0.3); padding-bottom: 15px; }
		.rex-nav-main-list:last-child { border: none; padding-bottom: 0px; }
	.rex-nav-main-list>li>a { overflow: hidden; white-space: nowrap; margin-left: -10px; margin-right: -10px; }
	.rex-nav-main-list>li.rex-has-icon>a>.rex-icon, .rex-nav-main-list .cke5-icon-logo { padding-left: 10px; width: 26px; text-align: center; margin-right: 20px; }
	.rex-nav-main-list .cke5-icon-logo { width: 27px; margin-right: 19px; background-position: right 0; }
	
	nav.rex-nav-main, .rex-nav-main-title, .rex-nav-main-list>li>a, .rex-nav-main-list>li.rex-has-icon>a>.rex-icon, .rex-nav-main-list .cke5-icon-logo { -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }
	
	.rex-is-logged-in nav.rex-nav-main:hover { width: 250px; }
	nav.rex-nav-main:hover .rex-nav-main-title { opacity: 1; }
	nav.rex-nav-main:hover .rex-nav-main-list>li>a { margin-right: 0px; }
	nav.rex-nav-main:hover .rex-nav-main-list>li.rex-has-icon>a>.rex-icon, nav.rex-nav-main:hover .rex-nav-main-list .cke5-icon-logo { margin-right: 6px; }
}